# Downloaded data File, uncompressed.
household_power_consumption.txt
# Downloaded data File, compressed
power_consumption.zip

# Not all of my mistakes need to be know:
.Rhistory

# Realized that these file will likely need to be in the repository for grading purposes:
# plot1.png
# plot2.png
# plot3.png
# plot4.png