# Downloaded data File, uncompressed.
household_power_consumption.txt
# Downloaded data File, compressed
power_consumption.zip


# Don't store the output files, unless supposed to be stored for the assignment to be
# scorable:
plot1.png
plot2.png
plot3.png
plot4.png